<div class="checkOut col-md-6 offset-md-3">
    <form action="" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="" placeholder="please enter your name" type="text" name="name" class="form-control">
        </div>

        <div class="form-group">
            <label for="address">address</label>
            <input id="" placeholder="please enter your address" type="text" name="address" class="form-control">
        </div>

        <div class="form-group">
            <label for="credit-card-name">credit card name</label>
            <input id="" placeholder="please enter your credit card name" type="text" name="credit card name"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="credit-card-number">credit card number</label>
            <input id="" placeholder="please enter your credit card number" type="number" name="credit card number"
                class="form-control">
        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="form-group">
                    <label for="credit card expiration month">credit card expiration month</label>
                    <input id="" placeholder="please enter your credit card expiration month" type="number"
                        name="credit card expiration month" class="form-control">
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="expiration year"> expiration year</label>
                    <input id="" placeholder="please enter your credit card expiration year" type="number"
                        name="credit card expiration year" class="form-control">
                </div>

            </div>

        </div>



            <div class="form-group">
                    <label for="CVC">CVC</label>
                    <input id="" placeholder="please enter your CARD CVC" type="number"
                        name="CVC" class="form-control">
                </div>



    </form>
</div>